.quizz-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.quizz-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.quizz-logo img{
    max-width: 1000px;
    margin: 10px 0;
}
.quizz-logo h1{
    margin: 10px 0;
}
.quizz-questions{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4224D9;
    border-radius: 8px;
    background-color: #644ed2;
    height: 200px;
    width: 95%;
}
.quizz-questions h2{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quizz-opitions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}
.quizz-btn{
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    padding: 5px 15px;
    margin: 4px;
    display: inline-block;

    cursor: pointer;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

    text-shadow: 0px 1px 0px #2f6627;
}
.quizz-btn:hover{
    background-color: #5cbf2a;
}
.quizz-btn:active{
    position: relative;
    top: 2px;
}

.quizz-results{
    width: 100%;
    height: 250px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(33,2,57);
    border-radius: 10px;
}
